In [173]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [174]:
df = pd.read_csv('Yes_Bank_Train.csv')

In [175]:
df.head()

,serial number,account_info,duration_month,credit_history,purpose,credit_amount,savings_account,employment_st,poi,personal_status,...,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
0,1,A11,6,A34,A43,1169,A65,A75,4,A93,...,4,A121,67,A143,A152,2,A173,1,A192,A201
1,2,A12,48,A32,A43,5951,A61,A73,2,A92,...,2,A121,22,A143,A152,1,A173,1,A191,A201
2,3,A14,12,A34,A46,2096,A61,A74,2,A93,...,3,A121,49,A143,A152,1,A172,2,A191,A201
3,4,A11,42,A32,A42,7882,A61,A74,2,A93,...,4,A122,45,A143,A153,1,A173,2,A191,A201
4,5,A11,24,A33,A40,4870,A61,A73,3,A93,...,4,A124,53,A143,A153,2,A173,2,A191,A201

In [176]:
df.describe()

,serial number,duration_month,credit_amount,poi,resident_since,age,credits_no,liables
count,800.0000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,400.5000,20.65125,3190.976250,2.966250,2.841250,35.406250,1.396250,1.147500
std,231.0844,12.15635,2732.671789,1.128806,1.106833,11.470317,0.569773,0.354825
min,1.0000,4.00000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,200.7500,12.00000,1342.250000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,400.5000,18.00000,2281.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,600.2500,24.00000,3914.250000,4.000000,4.000000,41.000000,2.000000,1.000000
max,800.0000,72.00000,15945.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
serial number       800 non-null int64
account_info        800 non-null object
duration_month      800 non-null int64
credit_history      800 non-null object
purpose             800 non-null object
credit_amount       800 non-null int64
savings_account     800 non-null object
employment_st       800 non-null object
poi                 800 non-null int64
personal_status     800 non-null object
gurantors           800 non-null object
resident_since      800 non-null int64
property_type       800 non-null object
age                 800 non-null int64
installment_type    800 non-null object
housing_type        800 non-null object
credits_no          800 non-null int64
job_type            800 non-null object
liables             800 non-null int64
telephone           800 non-null object
foreigner           800 non-null object
dtypes: int64(8), object(13)
memory usage: 131.3+ KB

In [178]:
df =df.drop(['serial number'],axis=1)

In [179]:
X = df.drop(['credit_amount'],axis=1)

In [180]:
y = df['credit_amount']

In [181]:
obj_col=X.select_dtypes(include='object')
int_col = X.select_dtypes(include='int64')

In [182]:
obj_col = obj_col.columns.values
X = pd.get_dummies(X, columns=obj_col)

In [183]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 60 columns):
duration_month           800 non-null int64
poi                      800 non-null int64
resident_since           800 non-null int64
age                      800 non-null int64
credits_no               800 non-null int64
liables                  800 non-null int64
account_info_A11         800 non-null uint8
account_info_A12         800 non-null uint8
account_info_A13         800 non-null uint8
account_info_A14         800 non-null uint8
credit_history_A30       800 non-null uint8
credit_history_A31       800 non-null uint8
credit_history_A32       800 non-null uint8
credit_history_A33       800 non-null uint8
credit_history_A34       800 non-null uint8
purpose_A40              800 non-null uint8
purpose_A41              800 non-null uint8
purpose_A410             800 non-null uint8
purpose_A42              800 non-null uint8
purpose_A43              800 non-null uint8
purpose_A44              800 non-null uint8
purpose_A45              800 non-null uint8
purpose_A46              800 non-null uint8
purpose_A48              800 non-null uint8
purpose_A49              800 non-null uint8
savings_account_A61      800 non-null uint8
savings_account_A62      800 non-null uint8
savings_account_A63      800 non-null uint8
savings_account_A64      800 non-null uint8
savings_account_A65      800 non-null uint8
employment_st_A71        800 non-null uint8
employment_st_A72        800 non-null uint8
employment_st_A73        800 non-null uint8
employment_st_A74        800 non-null uint8
employment_st_A75        800 non-null uint8
personal_status_A91      800 non-null uint8
personal_status_A92      800 non-null uint8
personal_status_A93      800 non-null uint8
personal_status_A94      800 non-null uint8
gurantors_A101           800 non-null uint8
gurantors_A102           800 non-null uint8
gurantors_A103           800 non-null uint8
property_type_A121       800 non-null uint8
property_type_A122       800 non-null uint8
property_type_A123       800 non-null uint8
property_type_A124       800 non-null uint8
installment_type_A141    800 non-null uint8
installment_type_A142    800 non-null uint8
installment_type_A143    800 non-null uint8
housing_type_A151        800 non-null uint8
housing_type_A152        800 non-null uint8
housing_type_A153        800 non-null uint8
job_type_A171            800 non-null uint8
job_type_A172            800 non-null uint8
job_type_A173            800 non-null uint8
job_type_A174            800 non-null uint8
telephone_A191           800 non-null uint8
telephone_A192           800 non-null uint8
foreigner_A201           800 non-null uint8
foreigner_A202           800 non-null uint8
dtypes: int64(6), uint8(54)
memory usage: 79.8 KB

In [184]:
int_col.columns.values

array(['duration_month', 'poi', 'resident_since', 'age', 'credits_no',
       'liables'], dtype=object)

In [185]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X[['duration_month', 'poi', 'resident_since', 'age', 'credits_no',
       'liables']]=scaler.fit_transform(X[['duration_month', 'poi', 'resident_since', 'age', 'credits_no',
       'liables']])

In [186]:
X

,duration_month,poi,resident_since,age,credits_no,liables,account_info_A11,account_info_A12,account_info_A13,account_info_A14,...,housing_type_A152,housing_type_A153,job_type_A171,job_type_A172,job_type_A173,job_type_A174,telephone_A191,telephone_A192,foreigner_A201,foreigner_A202
0,-1.205988,0.916363,1.047561,2.756115,1.060295,-0.415957,1,0,0,0,...,1,0,0,0,1,0,0,1,1,0
1,2.251158,-0.856528,-0.760527,-1.169509,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
2,-0.712110,-0.856528,0.143517,1.185866,-0.695887,2.404093,0,0,0,1,...,1,0,0,1,0,0,1,0,1,0
3,1.757280,-0.856528,1.047561,0.836921,-0.695887,2.404093,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,0.275646,0.029918,1.047561,1.534810,1.060295,2.404093,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
5,1.263402,-0.856528,1.047561,-0.035440,-0.695887,2.404093,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
6,0.275646,0.029918,1.047561,1.534810,-0.695887,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
7,1.263402,-0.856528,-0.760527,-0.035440,-0.695887,-0.415957,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
8,-0.712110,-0.856528,1.047561,2.232699,-0.695887,-0.415957,0,0,0,1,...,1,0,0,1,0,0,1,0,1,0
9,0.769524,0.916363,-0.760527,-0.646092,1.060295,-0.415957,0,1,0,0,...,1,0,0,0,0,1,1,0,1,0
10,-0.712110,0.029918,-1.664570,-0.907801,-0.695887,-0.415957,0,1,0,0,...,0,0,0,0,1,0,1,0,1,0
11,2.251158,0.029918,1.047561,-0.995037,-0.695887,-0.415957,1,0,0,0,...,0,0,0,0,1,0,1,0,1,0
12,-0.712110,-1.742974,-1.664570,-1.169509,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,1,0,0,1,1,0
13,0.275646,0.916363,1.047561,2.145463,1.060295,-0.415957,1,0,0,0,...,1,0,0,1,0,0,1,0,1,0
14,-0.465171,-0.856528,1.047561,-0.646092,-0.695887,-0.415957,1,0,0,0,...,0,0,0,0,1,0,1,0,1,0
15,0.275646,0.916363,-0.760527,-0.297148,-0.695887,-0.415957,1,0,0,0,...,1,0,0,1,0,0,1,0,1,0
16,0.275646,0.916363,1.047561,1.534810,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
17,0.769524,-0.856528,0.143517,-0.907801,2.816476,-0.415957,1,0,0,0,...,1,0,0,0,1,0,1,0,1,0
18,0.275646,0.916363,-0.760527,0.749685,-0.695887,-0.415957,0,1,0,0,...,0,1,0,0,0,1,0,1,1,0
19,0.275646,0.029918,-0.760527,-0.384384,-0.695887,2.404093,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
20,-0.959049,0.916363,1.047561,1.098629,2.816476,-0.415957,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
21,-1.205988,-0.856528,0.143517,0.749685,-0.695887,2.404093,1,0,0,0,...,0,0,0,0,1,0,1,0,1,0
22,-0.876736,-1.742974,0.143517,1.098629,1.060295,2.404093,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
23,-0.712110,0.029918,1.047561,0.749685,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
24,-0.876736,-0.856528,-1.664570,-0.820564,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,0,1
25,-1.205988,-1.742974,-0.760527,0.051796,-0.695887,-0.415957,1,0,0,0,...,1,0,0,1,0,0,0,1,1,0
26,-1.205988,0.916363,1.047561,0.313505,-0.695887,-0.415957,0,0,0,1,...,1,0,0,1,0,0,1,0,1,0
27,-0.712110,0.029918,0.143517,0.575213,1.060295,-0.415957,0,0,1,0,...,0,0,0,0,1,0,1,0,1,0
28,-1.123675,0.029918,-0.760527,-0.122676,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
29,3.238914,0.029918,1.047561,2.407171,1.060295,-0.415957,1,0,0,0,...,1,0,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,0.275646,-0.856528,1.047561,-0.820564,-0.695887,-0.415957,1,0,0,0,...,0,0,0,0,1,0,1,0,1,0
771,1.263402,0.029918,-0.760527,-0.907801,1.060295,-0.415957,1,0,0,0,...,1,0,0,0,0,1,0,1,1,0
772,0.028707,-1.742974,1.047561,0.051796,-0.695887,-0.415957,0,0,0,1,...,1,0,0,0,0,1,0,1,1,0
773,0.275646,0.916363,1.047561,1.447574,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
774,-0.712110,-0.856528,1.047561,2.668879,2.816476,-0.415957,0,0,1,0,...,0,1,1,0,0,0,1,0,1,0
775,0.275646,0.916363,1.047561,-0.907801,-0.695887,-0.415957,1,0,0,0,...,0,0,0,0,1,0,1,0,1,0
776,1.263402,0.916363,1.047561,0.139033,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
777,-0.218232,0.916363,-1.664570,-0.907801,-0.695887,-0.415957,1,0,0,0,...,1,0,0,0,1,0,1,0,1,0
778,1.263402,0.916363,-0.760527,0.226269,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,0,1,0,1,1,0
779,-0.218232,-0.856528,1.047561,2.756115,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,1,0,0,1,1,0
780,1.510341,-0.856528,-0.760527,-0.907801,1.060295,-0.415957,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
781,0.275646,0.916363,1.047561,2.145463,-0.695887,-0.415957,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
782,-0.712110,-0.856528,-0.760527,-0.384384,-0.695887,-0.415957,0,1,0,0,...,1,0,0,1,0,0,0,1,1,0
783,-0.712110,0.916363,-0.760527,-1.082273,-0.695887,-0.415957,0,1,0,0,...,1,0,0,1,0,0,1,0,1,0
784,-0.053606,-1.742974,1.047561,2.145463,-0.695887,-0.415957,0,1,0,0,...,1,0,0,0,0,1,0,1,1,0
785,-0.218232,0.916363,-0.760527,-0.035440,-0.695887,-0.415957,0,1,0,0,...,1,0,0,1,0,0,0,1,1,0
786,0.111020,0.029918,1.047561,0.400741,-0.695887,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
787,2.251158,0.916363,0.143517,0.226269,1.060295,2.404093,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
788,2.251158,0.916363,1.047561,1.273102,-0.695887,-0.415957,0,1,0,0,...,0,1,0,0,1,0,1,0,1,0
789,1.592654,0.916363,0.143517,-0.733328,-0.695887,-0.415957,1,0,0,0,...,1,0,0,0,1,0,0,1,1,0
790,0.028707,-0.856528,1.047561,0.313505,-0.695887,2.404093,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
791,0.275646,0.029918,1.047561,0.487977,-0.695887,2.404093,0,0,0,1,...,1,0,0,0,0,1,0,1,1,0
792,-1.205988,-1.742974,-0.760527,-0.733328,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
793,0.275646,0.029918,1.047561,1.360338,-0.695887,-0.415957,0,0,1,0,...,0,1,0,0,1,0,1,0,1,0
794,0.275646,0.916363,0.143517,-0.297148,-0.695887,-0.415957,0,0,0,1,...,0,0,0,0,1,0,0,1,1,0
795,-0.959049,-0.856528,1.047561,-1.169509,-0.695887,-0.415957,0,0,0,1,...,0,0,0,0,1,0,1,0,1,0
796,-0.218232,-1.742974,1.047561,1.360338,-0.695887,2.404093,1,0,0,0,...,0,1,0,0,1,0,0,1,1,0
797,-0.712110,-0.856528,1.047561,-1.169509,1.060295,-0.415957,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
798,0.275646,0.916363,1.047561,1.622046,1.060295,-0.415957,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
799,-0.959049,0.916363,-0.760527,-0.035440,-0.695887,-0.415957,0,1,0,0,...,1,0,1,0,0,0,1,0,1,0

In [187]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [188]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
xg_reg = xgb.XGBRegressor(objective ='reg:linear',colsample_bytree=0.7,
 learning_rate= 0.4,
 max_depth= 2,
 n_estimators= 12)

In [189]:
xg_reg.fit(X,y)
preds = xg_reg.predict(X_test)

In [190]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 1954.987930

In [123]:
from sklearn.model_selection import GridSearchCV

In [145]:
params={
    'n_estimators':np.arange(5,20,1),
    'max_depth':np.arange(0,10,1),
    'learning_rate':np.arange(0.01,0.7,0.5),
    'colsample_bytree':np.arange(0.6,0.8,0.1)
}
xg_reg = xgb.XGBRegressor(objective ='reg:linear',eval_metric='rmse')
gridser = GridSearchCV(xg_reg,params)
gridser.fit(X,y)

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, eval_metric='rmse', gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None, objective='reg:linear',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]), 'max_depth': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), 'learning_rate': array([0.01, 0.51]), 'colsample_bytree': array([0.6, 0.7, 0.8])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [146]:
gridser.best_params_

{'colsample_bytree': 0.6,
 'learning_rate': 0.51,
 'max_depth': 2,
 'n_estimators': 17}

In [110]:
gridser.best_score_

0.5625105623075507

In [191]:
df2 = pd.read_csv('Yes_Bank_Test_int.csv')

In [192]:
df2 =df2.drop(['serial number'],axis=1)
X_t = df2
obj_col=X_t.select_dtypes(include='object')
obj_col = obj_col.columns.values
X_t = pd.get_dummies(X_t, columns=obj_col)

In [193]:
X_t.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 60 columns):
duration_month           200 non-null int64
poi                      200 non-null int64
resident_since           200 non-null int64
age                      200 non-null int64
credits_no               200 non-null int64
liables                  200 non-null int64
account_info_A11         200 non-null uint8
account_info_A12         200 non-null uint8
account_info_A13         200 non-null uint8
account_info_A14         200 non-null uint8
credit_history_A30       200 non-null uint8
credit_history_A31       200 non-null uint8
credit_history_A32       200 non-null uint8
credit_history_A33       200 non-null uint8
credit_history_A34       200 non-null uint8
purpose_A40              200 non-null uint8
purpose_A41              200 non-null uint8
purpose_A410             200 non-null uint8
purpose_A42              200 non-null uint8
purpose_A43              200 non-null uint8
purpose_A44              200 non-null uint8
purpose_A45              200 non-null uint8
purpose_A46              200 non-null uint8
purpose_A48              200 non-null uint8
purpose_A49              200 non-null uint8
savings_account_A61      200 non-null uint8
savings_account_A62      200 non-null uint8
savings_account_A63      200 non-null uint8
savings_account_A64      200 non-null uint8
savings_account_A65      200 non-null uint8
employment_st_A71        200 non-null uint8
employment_st_A72        200 non-null uint8
employment_st_A73        200 non-null uint8
employment_st_A74        200 non-null uint8
employment_st_A75        200 non-null uint8
personal_status_A91      200 non-null uint8
personal_status_A92      200 non-null uint8
personal_status_A93      200 non-null uint8
personal_status_A94      200 non-null uint8
gurantors_A101           200 non-null uint8
gurantors_A102           200 non-null uint8
gurantors_A103           200 non-null uint8
property_type_A121       200 non-null uint8
property_type_A122       200 non-null uint8
property_type_A123       200 non-null uint8
property_type_A124       200 non-null uint8
installment_type_A141    200 non-null uint8
installment_type_A142    200 non-null uint8
installment_type_A143    200 non-null uint8
housing_type_A151        200 non-null uint8
housing_type_A152        200 non-null uint8
housing_type_A153        200 non-null uint8
job_type_A171            200 non-null uint8
job_type_A172            200 non-null uint8
job_type_A173            200 non-null uint8
job_type_A174            200 non-null uint8
telephone_A191           200 non-null uint8
telephone_A192           200 non-null uint8
foreigner_A201           200 non-null uint8
foreigner_A202           200 non-null uint8
dtypes: int64(6), uint8(54)
memory usage: 20.0 KB

In [194]:
finalpred = xg_reg.predict(X_t)

In [195]:
_ = pd.read_csv('Yes_Bank_Test_int.csv')

In [196]:
serial = _['serial number']
data = { 'serial number': serial, 'credit_amount': finalpred}
submission = pd.DataFrame(data)
submission.head()

   serial number  credit_amount
0              1    6188.019043
1              2    7688.583984
2              3    5665.763672
3              4    5685.984863
4              5    4978.612305

In [197]:
submission.to_csv('xgb4.csv',index=False)